<form (ngSubmit)="onSignup(f)" #f="ngForm">
  <div class="row">
      <div class="col-xs-5">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" ngModel class="form-control"/>
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-5">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" ngModel class="form-control"/>
        </div>
      </div>
  </div>

  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
